<!DOCTYPE html>
<html>
<head>
    <title>Predict Rent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="form-page">

<div class="form-container">
    <h2>Enter Property Details</h2>

    <form action="/predict" method="POST">

<input type="number" name="BHK" placeholder="BHK (1–6)" min="1" max="6" required>

<input type="number" name="Size" placeholder="Size in sq ft (100–5000)" min="100" max="5000" required>

<input type="number" name="Bathroom" placeholder="Bathrooms (1–5)" min="1" max="5" required>

        <select name="City">
            <option value="">Select City</option>
            <option>Mumbai</option>
            <option>Delhi</option>
            <option>Bangalore</option>
            <option>Chennai</option>
            <option>Kolkata</option>
            <option>Hyderabad</option>
        </select>

        <select name="Area Type">
            <option value="">Select Area Type</option>
            <option>Super Area</option>
            <option>Carpet Area</option>
        </select>

        <select name="Furnishing Status">
            <option value="">Select Status</option>
            <option>Semi-Furnished</option>
            <option>Unfurnished</option>
            <option>Furnished</option>
        </select>

        <select name="Tenant Preferred">
            <option value="">Select Tenant Preferred</option>
            <option>Bachelors/Family</option>
            <option>Bachelors</option>
            <option>Family</option>
        </select>

        <select name="Point of Contact">
            <option value="">Select Point of Contact</option>
            <option>Contact Owner</option>
            <option>Contact Agent</option>
            <option>Contact Builder</option>
        </select>

        <button type="submit">Predict Rent</button>

    </form>

    <h3>{{ prediction_text }}</h3>
</div>

</body>
</html>
